#output {
    text-align: center;
}

body > * {
    width: calc(50% - 1rem);
}

#input {
    text-align: center;
    font-size: 2rem;
}

body {
    display: flex;
    flex-flow: row wrap;
}

#settings {
    display: none;
}

.page {
    background-color: transparent;
    flex-flow: column wrap;
}

label, input {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}