#output {
    text-align: center;
}

#input {
    text-align: center;
}

body {
    display: flex;
    flex-flow: column wrap;
}

.page {
    display: grid;
    background-color: transparent;
}

#settings {
    display: none;
    grid: auto / 50% 50%;
}

label,
input,
select,
option,
button {
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-size: 2rem;
}

#history {
    padding: 1rem;
    margin: 1rem;
    align-self: flex-end;
    height: calc(100% - 2rem);
}

.page>* {
    flex: 1 1 auto;
}

#calculator {
    grid: auto / 50% 50%;
}